[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-mongoengine = "*"
flask-restful = "*"
flask-bcrypt = "*"
dnspython = "*"
pymongo = "*"
certifi = "*"
flask-jwt-extended = "*"

[dev-packages]
yapf = "*"

[requires]
python_version = "3.9"
